@page
@model AbbyWeb.Pages.Categories.CreateModel

<form method="post">

    <div class="border p-3 mt-4">
        <div class="text-primary pl-3"> Create Category</div>
        <hr/>

        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="@Model.Category.Name"></label>
            <input asp-for="@Model.Category.Name" class="form-control"/>
            <span asp-validation-for="Category.Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Category.DisplayOrder">Display Order</label>
            <input asp-for="@Model.Category.DisplayOrder" class="form-control"/>
            <span asp-validation-for="Category.DisplayOrder"></span>

        </div>

        <button type="submit" class="btn btn-primary" syle="width: 150px">Submit</button>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="Shared/_ValidationScriptsPartial"/>
    }
}
